*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 51);
}
.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
}

.heading .logo{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.heading .logo .fa-ethereum{
    color: white;
    font-size: 13px;
}

.heading .logo p{
    color: white;
    font-size: 18px;
    padding-left: 8px;
    font-weight: bold;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading nav ul{
    display: flex;
}
.heading nav ul li{
    justify-content: space-between;
    padding: 0px 25px;
    list-style: none;
    text-decoration: none;
}
.heading nav ul li a{
    text-decoration: none;
    color: white;
}
.login{
    display: flex;
    align-items: center;

}
.login ul li{
    margin: 0px 20px;
    text-decoration: none;
    list-style: none;
}
.login ul li a{
    text-decoration: none;
    color: white;
}
.login button{
    margin: 0px 20px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
    background-color: #3671E9;
    border: none;
}
.login button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

    /* main section */
main{
    width: 100%;
    
}
.first-section{
    display: flex;
    padding: 30px 80px 30px;
    background-color: rgb(22, 22, 51);
    color: white;
    align-items: center;
    justify-content: space-between;
}

.first-section .left .first{
    display: flex;
    align-items: center;
    background-color: rgb(79, 61, 61);
    width: 18rem;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
}

.first-section .left .first :first-child{
    background-color: white;
    color: black;
    padding: 3px 5px 3px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.first-section .left .first :last-child{
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

.first-section .left h2{
    font-size: 50px;
    margin: 10px 0px 10px;
}

.first-section .left .paragraphy{
    margin: 17px 0px 30px;
    font-size: 14px;
    padding-right: 10rem;
    line-height: 20px;
    font-weight: 400 ;
}

.first-section .left a{
    background-color: #3671E9;
    color: white;
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;

}

.first-section .right img{
    width: 40rem;
    height: 40rem;
}

/* second section */
 
 .second-section{
    display: flex;
    background-color: rgb(22, 22, 51);
    justify-content: space-between;
    padding: 30px 80px 30px;
    line-height: 30px;
 }

 .second-section .icon{
    display: flex;
    align-items: center;
    /* justify-content: space-between
    ; */
    color: #3671E9;
 }

 .second-section .fa-stack-exchange{
    background-color: rgba(128, 128, 128, 0.281);
    padding: 13px;
    border-radius: 35px;
    margin-right: 10px;
    font-size: 23px;
 }

 .second-section .fa-user{
    background-color: rgba(128, 128, 128, 0.281);
    padding: 13px;
    border-radius: 35px;
    margin-right: 10px;
    font-size: 23px;
 }

 .second-section .fa-earth-americas{
    background-color: rgba(128, 128, 128, 0.281);
    padding: 13px;
    border-radius: 35px;
    margin-right: 10px;
    font-size: 23px;
 }

 .second-section h1{
    color: white;
    font-weight: bold;
 }

 .second-section p{
    color: white;
    font-size: 11px;
 }


 /* Third Section */
 .third-section{
    display: flex;
    background-color: rgb(22, 22, 51);
    justify-content: space-between;
    padding: 0px 80px 30px;
    align-items: center;
 }

 .third-section .paragraphy{
    padding: 90px;
 }

 .third-section .paragraphy h2{
    color: white;
    font-size: 30px;
    line-height: 50px;
 }

.third-section .paragraphy p{
    color: white;
    line-height: 25px;
    padding-bottom: 30px;
}

.third-section .paragraphy a{
    /* margin: 80px 0px; */
    padding: 13px 18px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #3671E9;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

/* fouth-section */


.fouth-section{
    padding: 80px 20px;
    background-color: whitesmoke;
}

.fouth-section .first{
    width: 100%;
    text-align: center;
    /* align-items: center; */
    
}

.fouth-section .first p{
    padding: 0px 23rem 0px;
    color: rgba(128, 128, 128, 0.241);
}

.fouth-section .second{
    text-align: center;
    /* align-items: center; */
    /* align-content: center; */
    padding: 30px 0px 30px;
    background-color: white;
    /* width: 60%; */
    margin: 30px 20rem 0px;
    line-height: 30px;
    
}

.fouth-section .second h5{
    color: #3671E9;
    /* padding-top: 20px; */
}

.fouth-section .second h2{
    color: black;
    font-size: 30px;
}

.fouth-section .second h2 .ETH{
    color: #3671E9;
}

.fouth-section .second p{
    color: rgba(0, 0, 0, 0.441);
}


/* Fifth Section */

.fifth-section{
    background-color: whitesmoke;
}

.fifth-section h1{
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 25rem 30px;
}

.fifth-section .second{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    text-align: center;
}

.fifth-section .second .bitcoin{
    background-color: #2B076E;
    padding: 60px 30px;
    border-radius: 20px;
}

.fifth-section .second .bitcoin .fa-bitcoin-sign{
    font-size: 30px;
    color: white;
    background-color: #F89D2F;
    padding: 10px 15px;
    border-radius: 50px;
} 
.fifth-section .second .bitcoin h3{
    color: white;
    padding: 20px;
    font-size: 25px;
}

.fifth-section .second .bitcoin p{
    color: white;
}
.fifth-section .second .bitcoin button{
    padding: 12px 20px;
    margin: 30px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: #3671E9;
    color: white;
}
.fifth-section .second .bitcoin button i{
    padding: 8px 12px;
    background-color: white;
    border-radius: 20px;
    color: #3671E9;
    font-size: 15px;
}
        /* etheruem */
.fifth-section .second .ethereum{
    padding: 30px 30px;
}

.fifth-section .second .ethereum .fa-ethereum{
    font-size: 30px;
    color: white;
    background-color: #1181E8;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
} 
.fifth-section .second .ethereum h3{
    color: black;
    padding: 20px;
    font-size: 25px;
}
.fifth-section .second .ethereum p{
    color: black;
}
.fifth-section .second .ethereum i{
    color: #3671E9;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
    border: gray solid 2px;
    /* background-color: transparent; */
    margin-top: 30px;
    border-radius: 30px;
}

            /* litecoin */
.fifth-section .second .litecoin{
    padding: 30px 30px;
}

.fifth-section .second .litecoin .fa-litecoin-sign{
    font-size: 30px;
    color: white;
    background-color: #59C19C;
    padding: 10px 15px;
    border-radius: 50px;
    border: none
    ;
} 
.fifth-section .second .litecoin h3{
    color: black;
    padding: 20px;
    font-size: 25px;
}
.fifth-section .second .litecoin p{
    color: black;
}
.fifth-section .second .litecoin i{
    color: #3671E9;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
    border: gray solid 2px;
    /* background-color: transparent; */
    margin-top: 30px;
    border-radius: 30px;
}

/* sixth section */
.sixth-section{
    background-color: #2B076E;
    padding: 50px;
    width: 100%;
}
.sixth-section .heading{
    width: 55%;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 0px 60px;
}

.sixth-section .heading h2{
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
.sixth-section .first{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    /* padding: 50px; */
    align-items: center;
}

.sixth-section .first .invest{
    width: 45%;

}

.sixth-section .first .invest h3{
    font-size: 30px;
    color: white;
}

.sixth-section .first .invest p{
    font-size: 17px;
    color: white;
    width: 80%;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sixth-section .first .invest button{
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: #3671E9;
    color: white;
    font-weight: bold;
}

/* image section */
.sixth-section .first .image{
    /* background-color: red; */
    width: 50%;
    /* padding: 40px; */
    position: relative;
}

.sixth-section .first .image img{
    background-color: #35068C;
    border-radius: 30px;
    padding: 30px;
    height: 15rem ;
    width: 30rem;
}

.sixth-section .first .image .position{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sixth-section .first .image .position .increase{
    width: 20%;
    background-color: #6327d36e;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    left: 60px;
    bottom: 10px;
}

.sixth-section .first .image .position .increase h4{
    font-size: 15px;
    color: white;
}

.sixth-section .first .image .position .increase h2{
    font-size: 18px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sixth-section .first .image .position .increase p{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.sixth-section .first .image .position .dollar{
    background-color: #6327d36e;
    width: 25%;
    padding: 15px 10px;
    border-radius: 20px;
    text-align: center;
    top: 20px;
    position: relative;
    left: 300px;
    top: -50px;
}

.sixth-section .first .image .position .dollar h2{
    font-size: 18px;
    color: white;
}

.sixth-section .first .image .position .dollar p{
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
}

.sixth-section .second{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    /* padding: 50px; */
    align-items: center;
}

.sixth-section .second .image{
    /* height: 100px; */
    width: 60%;
}

.sixth-section .second .content{
    width: 50%;
}

.sixth-section .second .content h4{
    color: white;
    font-size: 30px;
}

.sixth-section .second .content p{
    font-size: 17px;
    color: white;
    width: 80%;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sixth-section .second .content button{
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: #3671E9;
    color: white;
    font-weight: bold;
}
/* Third Section */
.sixth-section .third{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    /* padding: 50px; */
    align-items: center;
}

.sixth-section .third .content{
    width: 45%;
}

.sixth-section .third .content h4{
    color: white;
    font-size: 30px;
    /* margin-right: 90px; */
}

.sixth-section .third .content p{
    font-size: 17px;
    color: white;
    width: 80%;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sixth-section .third .content button{
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: #3671E9;
    color: white;
    font-weight: bold;
}

.sixth-section .third .image{
    /* height: 100px; */
    width: 50%;
    /* margin-left: 80px; */
}

.sixth-section .third .image img{
    width: 500px;
    height: 250px;
}

/* Fouth Section */
.sixth-section .fouth{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    /* padding: 50px; */
    align-items: center;
    background-color: #3671E9;
    border-radius: 30px;
}

.sixth-section .fouth .content{
    width: 45%;
    margin: 40px;
}

.sixth-section .fouth .content h4{
    color: white;
    font-size: 30px;
    /* margin-right: 90px; */
}

.sixth-section .fouth .content p{
    font-size: 17px;
    color: white;
    width: 80%;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .sixth-section .fouth .subscribe{
    width: 30%;
}

.sixth-section .fouth .subscribe button{
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #3671E9;
    font-weight: bold;
} */

.sixth-section .fouth .subscribe{
    width: 40%;
}

.sixth-section .fouth .subscribe input{
    width: 60%;
}
.sixth-section .fouth .subscribe #email{
border:none;
border-bottom:1px solid white;
background-color: #3671E9;
}
.sixth-section .fouth .subscribe ::placeholder{
    color: white;
    font-size: 15px;
}

.sixth-section .fouth .subscribe button{
    padding: 15px 25px;
    font-size: 15px;
    width: 30%;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
} 


/* FOOTER SECTION */
footer{
    background-color: rgb(22, 22, 51);
    width: 100%;
}

.footer{
    /* background-color: brown; */
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-list{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.first-list a{
    text-decoration: none;
    margin: 10px auto;
    color: white;
    font-size: 15px;
}

.second-list{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

.second-list a{
    text-decoration: none;
    margin: 10px auto;
    color: white;
    font-size: 15px;
}

.third-list{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 20%;
    /* margin-left: 10px; */
    gap: 20px;
}




.fa-cc-visa{
    padding: 10px 12px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.fa-credit-card{
    padding: 10px 12px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.fa-bitcoin{
    padding: 10px 12px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.copyrigth{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
    width: 95%;
    margin: 20px auto;
    padding: 30px 0px;
}

.copyright-content{
    /* background-color: blue; */
    width: 50%;
}

.copyright-content p{
    color: white;
    font-size: 12px;
}

.contact-icons{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 20%;
    /* margin-left: 10px; */
    gap: 10px;
    /* margin: auto; */
}

.fa-facebook-f{
    /* padding: 10px 15px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px; */
    color: white;
    font-size: 15px;
}

.fa-instagram{
    /* padding: 10px 15px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px; */
    color: white;
    font-size: 15px;
}

.fa-youtube{
    /* padding: 10px 15px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px; */
    color: white;
    font-size: 15px;
}

.fa-twitter{
    /* padding: 10px 15px;
    background-color: rgba(42, 42, 86, 0.912);
    border-radius: 10px; */
    color: white;
    font-size: 15px;
}


.fa-linkedin-in{
    /* padding: 10px 15px; */
    /* background-color: rgba(42, 42, 86, 0.912); */
    /* border-radius: 10px; */
    color: white;
    font-size: 15px;
}